<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Search Contract</title>
  </head>
  <body>
    <form th:action="@{search}" th:object="${searchRequest}" method="post">
      <label for="name">名前:</label>
      <input type="text" id="name" name="name" th:field="*{name}" /><br />
      <div
        style="color: red"
        th:if="${#fields.hasErrors('name')}"
        th:errors="*{name}"
      >
        Name Error
      </div>

      <label for="nameKana">名前(カナ):</label>
      <input type="text" id="nameKana" name="nameKana" th:field="*{nameKana}" />
      <br />
      <div
        style="color: red"
        th:if="${#fields.hasErrors('nameKana')}"
        th:errors="*{nameKana}"
      >
        NameKana Error
      </div>

      <label for="dob">誕生日:</label>
      <input type="date" name="dateOfBirth" th:field="*{dateOfBirth}" /><br />
      <div
        style="color: red"
        th:if="${#fields.hasErrors('dateOfBirth')}"
        th:errors="*{dateOfBirth}"
      >
        DateOfBirth Error
      </div>

      <label for="company">契約会社:</label>
      <input
        type="text"
        id="company"
        name="company"
        th:field="*{company}"
      /><br />
      <div
        style="color: red"
        th:if="${#fields.hasErrors('company')}"
        th:errors="*{company}"
      >
        Company Error
      </div>

      <label for="contractNum">契約契約番号:</label>
      <input
        type="number"
        id="contractNum"
        name="contractNum"
        th:field="*{contractNum}"
      /><br />

      <div
        style="color: red"
        th:if="${#fields.hasErrors('contractNum')}"
        th:errors="*{contractNum}"
      >
        contractNum Error
      </div>

      <button type="submit">Search</button>
    </form>
  </body>
</html>
